body
{
   background-color: #FFA500;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Image8
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Shape1
{
   border-width: 0;
}
#TextArt1
{
   border-width: 0;
}
#Marquee1
{
   background-color: #000000;
   background-image: none;
   border: 1px #000000 solid;
   text-align: center;
}
#Shape2
{
   border-width: 0;
}
#wb_FontAwesomeIcon1
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   text-align: center;
   padding: 0px 0px 0px 0px;
}
#wb_FontAwesomeIcon1:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
}
#FontAwesomeIcon1
{
   height: 95px;
   width: 122px;
}
#FontAwesomeIcon1 i
{
   color: #000000;
   display: inline-block;
   font-size: 95px;
   line-height: 95px;
   vertical-align: middle;
   width: 68px;
}
#wb_FontAwesomeIcon1:hover i
{
   color: #000000;
}
#Label1
{
   border: 0px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: "Comic Sans MS";
   font-weight: bold;
   font-size: 21px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#Image1
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image2
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image3
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image4
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image5
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image6
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image7
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image10
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_CssMenu1
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
}
#wb_CssMenu1 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#wb_CssMenu1 li
{
   float: left;
   margin: 0;
   padding: 0px 25px 0px 0px;
   width: 110px;
}
#wb_CssMenu1 a
{
   display: block;
   float: left;
   color: #FFFFFF;
   border: 1px #FFA500 solid;
   background-color: #000000;
   background: -moz-linear-gradient(bottom,#000000 0%,#FF8C00 100%);
   background: -webkit-linear-gradient(bottom,#000000 0%,#FF8C00 100%);
   background: -o-linear-gradient(bottom,#000000 0%,#FF8C00 100%);
   background: -ms-linear-gradient(bottom,#000000 0%,#FF8C00 100%);
   background: linear-gradient(bottom,#000000 0%,#FF8C00 100%);
   font-family: "Comic Sans MS";
   font-weight: bold;
   font-size: 17px;
   font-style: normal;
   text-decoration: none;
   width: 98px;
   height: 48px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   line-height: 48px;
   text-align: center;
}
#wb_CssMenu1 li:hover a, #wb_CssMenu1 a:hover
{
   color: #000000;
   background-color: #FFA500;
   background: -moz-linear-gradient(bottom,#FFA500 0%,#000000 100%);
   background: -webkit-linear-gradient(bottom,#FFA500 0%,#000000 100%);
   background: -o-linear-gradient(bottom,#FFA500 0%,#000000 100%);
   background: -ms-linear-gradient(bottom,#FFA500 0%,#000000 100%);
   background: linear-gradient(bottom,#FFA500 0%,#000000 100%);
   border: 1px #FFA500 solid;
}
#wb_CssMenu1 li.firstmain
{
   padding-left: 0px;
}
#wb_CssMenu1 li.lastmain
{
   padding-right: 0px;
}
#wb_CssMenu1 li:hover, #wb_CssMenu1 li a:hover
{
   position: relative;
}
#wb_CssMenu1 a.withsubmenu
{
   padding: 0 5px 0 5px;
   width: 98px;
}
#wb_CssMenu1 li:hover a.withsubmenu, #wb_CssMenu1 a.withsubmenu:hover
{
}
#wb_CssMenu1 ul ul
{
   position: absolute;
   left: 0;
   top: 0;
   visibility: hidden;
   width: 110px;
   height: auto;
   border: none;
   background-color: transparent;
}
#wb_CssMenu1 ul :hover ul
{
   left: 0px;
   top: 50px;
   padding-top: 0px;
   visibility: visible;
}
#wb_CssMenu1 .firstmain:hover ul
{
   left: 0px;
}
#wb_CssMenu1 li li
{
   width: 110px;
   padding: 0 0px 4px 0px;
   border: 0px #C0C0C0 solid;
   border-width: 0 0px;
}
#wb_CssMenu1 li li.firstitem
{
   border-top: 0px #C0C0C0 solid;
}
#wb_CssMenu1 li li.lastitem
{
   border-bottom: 0px #C0C0C0 solid;
}
#wb_CssMenu1 li li.lastitem
{
   padding-bottom: 0px;
}
#wb_CssMenu1 ul ul a, #wb_CssMenu1 ul :hover ul a
{
   float: none;
   margin: 0;
   width: 98px;
   height: auto;
   white-space: normal;
   padding: 16px 5px 16px 5px;
   background-color: #000000;
   background-image: none;
   border: 1px #000000 solid;
   color: #FFFFFF;
   font-family: "Comic Sans MS";
   font-weight: bold;
   font-size: 16px;
   font-style: normal;
   line-height: 16px;
   text-align: center;
   text-decoration: none;
}
#wb_CssMenu1 ul :hover ul .firstitem a
{
   margin-top: 0px;
}
#wb_CssMenu1 ul ul :hover a, #wb_CssMenu1 ul ul a:hover, #wb_CssMenu1 ul ul :hover ul :hover a, #wb_CssMenu1 ul ul :hover ul a:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #FFFFFF solid;
   color: #000000;
}
#wb_CssMenu1 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_CssMenu1.affix
{
   top: 0 !important;
   position: fixed !important;
}
#SlideShow2 .image
{
   border-width: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Label2
{
   border: 0px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: "Comic Sans MS";
   font-weight: normal;
   font-size: 19px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#Label3
{
   border: 0px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: "Comic Sans MS";
   font-weight: normal;
   font-size: 19px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#Label4
{
   border: 0px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: "Comic Sans MS";
   font-weight: normal;
   font-size: 19px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#Label5
{
   border: 0px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: "Comic Sans MS";
   font-weight: normal;
   font-size: 19px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#Image11
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image12
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image13
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image14
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image15
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#SlideShow3 .image
{
   border-width: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image9
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
